# dependencies
node_modules/
.pnpm/
.package-lock.json
yarn.lock
dist/
build/

# testing
coverage/
*.log



# misc
.DS_Store
*.local
*.sublime-project
*.sublime-workspace
.vscode/

# next.js or vite (if used)
.next/
out/
.vite/

# optional npm cache
.npm/

# Optional: OS-specific files
Thumbs.db
